.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-page {
  background-color: lightgray;
  position: relative;
  padding: 5px;
}

.header {
  background-color: lightslategray;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 5px;
  color: black;
}

.nav {
  background-color: burlywood;
  padding: 5px;
}
.nav-item {
  padding: 15px;
}

.page-heading {
  align-items: center;
}

.main-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  gap: 12px;
  margin: auto;
  width: calc(90% + 12px);
}
.comment-list {
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  gap: 12px;
  margin: auto;
  border: 1px solid black;
  width: calc(90% + 12px);
  padding: 0.5rem;
}
.comment-card {
  border: 1px solid black;
  border-color: black;
  padding: 0.2rem;
}

.main-card {
  border: 1px solid black;
  border-color: black;
  padding: 0.5rem;
}

.category-card {
  border: 1px solid black;
  border-color: black;
}

.review-img {
  display: block;
  margin: 0 auto;
  max-width: 50vw;
}

#new-comment {
  width: 50vw;
  height: 25vh;
}

.comment-form {
  display: inline;
}

.dropdown {
  display: inline;
  margin: 0.5rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 600px) {
  .review-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
